hgroup.fragInfo
	div#contents
		div#entries
			div#text text entries
				each e in text
					br
					div.entry
						span.eTitle 
							h2
								a #{e.title}
						br
						span.eBrief #{e.content.replace(/<[^>]*>/g, '').substr(0, 150)+"..."}
							each r in e.related
								br
								div.related related entries:
									br
									a #{r}
				div#link
			div#img
		div#guidelines
		a.new(href="") New entry
	div#layers
		each l in eLayers
			div.layer.emptyLayer #{l.name}
		each l in cLayers
			div.layer.contentLayer
				a(href="#", n=l, f=timestamp) #{l}