hgroup.fragInfo
	div#contents
		div#entries
			div#text Text entries
				br
				each e in text
					div.entry
						span.eTitle 
							h2 #{e.title}
						br
						span.eBrief #{e.content.replace(/<[^>]*>/g, '').substr(0, 150)+"..."}
						div.related related entries:
							each r in e.related
								br
								a #{r}
						div.tags tags:
							each r in e.tags
								br
								| #{r}
			div#link Link entries
				br
				each l in link
					div.entry
						h2 #{l.title}
						br
						a(href="#{l.content}") #{l.content.replace(/(www.|http|https|:\/\/)/g, '').substr(0, 80)+"..."}
						div.related related entries:
							each r in l.related
								br
								a #{r}
						div.tags tags:
							each r in l.tags
								br
								| #{r}
			div#img Image entries
				br
				each i in image
					div.entry
						h2 #{i.title}
						img(src = "../#{project}/#{i.title}") test
						br
						div.related related entries:
							each r in i.related
								br
								a #{r}
						div.tags tags:
							each r in i.tags
								br
								| #{r}
		div#layers
			each l in eLayers
				div.layer.emptyLayer #{l.name}
			each l in cLayers
				div.layer.contentLayer
					a(href="#", n=l, f=timestamp) #{l}
		a.new(href="#") New entry
	div#fragScript
		| [ #{annotation} ]
		br
		each line in lines
			br
			if line.action != undefined
				i (#{line.action})
			else 
				b #{line.chara} 
				| : #{line.dialog}