

include includes/top

div#panel
    div#panTab
        span.verticalCenter >>
    div#fragInfoContainer
        div.fragInfo
            ul
                li
                    a(href="#entries") Entries
                li
                    a(href="#fragScript") Script
                li
                    a(href="#layers") Layers
            div#entries
                |Select a clip first.
            div#fragScript
                |Select a clip first.
            div#layers
                |Select a clip first.
div#project
    meta#fragCount(count="#{fragCount}")
    div#proyInfo
        div#stats
            | Repp : #{ '-' || stats.reputation }
            br
            | Vp : #{ '-' || stats.views }
            br
            | Act : #{ '-' || stats.activity }
            br
            | Dev : #{ '-' || stats.development }
            br
            a.open(href = "/log/#{project}") View Log
            if isMember
                |  | 
                a#nIssue(href = "/loadIssueForm/#{project}") New Issue
        div#issues
            //each i in issues
                div.issue
                    h2
                        a.expand(href="##{'-' || i.title}") #{'-' || i.title}
                    div.content !{ '-' || i.content }
                    span.author by #{ '-' || i.author } - 
                    span.date on #{ '-' || i.date } 
        div#script 
            a.open(href = "/script/#{project}") Script 
            if isMember
                | |   
                a.load(href="/NewScene") New Scene
                | | 
                a.load(href = "/NewFragment") Add fragment
    div#timeline
        div#clips
            div.swiper.topCenter
                div.bw <
                div.swipe o
                div.fw >
            div.scrollView
                div#clIn
                    div.tlClip
        div#frames
            div.swiper.underCenter
                div.bw <
                div.swipe o
                div.fw >
            div.scrollView
                div#frIn
                    div.tlFrame
    div#loaded

    include canvas